.caixa-maior {
    width: 500px;
    height: 300px;
    background-color: #9B287B;

    position: relative;
}

.caixa-menor {
    width: 250px;
    height: 150px;
    background-color: #E2FCEF;

    position: absolute;
    bottom: 0;
    right: 0;
}