.centralizar {
    width: 600px;
    margin: 0 auto;
}

.linha1 {
    display: block;
}

.Div1, .Div2, .Div3, .Div4, .Div5, .Div6, .Div7, .Div8, .Div9 {
    display: inline-block;
    width: 160px;
    height: 80px;
    text-align: center;
    align-content: center;
    margin: 15px;
}

.Div1:hover, .Div2:hover, .Div3:hover, .Div4:hover, .Div5:hover, .Div6:hover, .Div7:hover, .Div8:hover, .Div9:hover {
    color: white;
}

.Div1, .Div5, .Div9 {
    border: 3px solid black;
}

.Div3, .Div7 {
    border: 3px double black;
}

.Div2, .Div4, .Div6, .Div8 {
    border: 3px dotted black;
}

.Div1 {
    background-color: bisque;
}

.Div2 {
    background-color: aqua;
}

.Div3 {
    background-color: blue;
}

.Div4 {
    background-color: purple;
}

.Div5 {
    background-color: brown;
}

.Div6 {
    background-color: burlywood;
}

.Div7 {
    background-color: greenyellow;
}

.Div8 {
    background-color: bisque;
}

.Div9 {
    background-color: crimson;
}