.div1 {
    display: inline-block;
    background-color: #FCBA04;
    width: 150px;
    height: 150px;
    padding: 15px;
    margin: 10px;
}

.div2 {
    display: inline-block;
    background-color: #A50104;
    width: 150px;
    height: 150px;
    padding: 15px;
}